# App Name
NEXT_PUBLIC_APP_NAME=BSofts School

# Backend API URL
# Local Dev:  http://localhost:3025/api
# Production: https://bsofts-school.onrender.com/api
NEXT_PUBLIC_API_URL=http://localhost:3025/api

# App URL
# Local Dev:  http://localhost:3026
# Production: https://bsoft-school-front.vercel.app
NEXT_PUBLIC_APP_URL=http://localhost:3026

